<h1>Delete Books</h1>

<p>PARENT POWERS ONLY</p>

<form method="post">
    @foreach(var book in ViewBag.books)
    {
     <div class="form-group">
        <label>
            <span>@book.BookTitle</span>
            <input type="checkbox" name="bookIds" value="@book.Id" />
        </label>
     </div>
    }

    <input type="submit" name="Delete Selected Books" class="btn btn-danger"/>
</form>