@using OPM.Models

@* Book Index = Books Added *@

@model List<Books>

<h1>Your Book Shelf</h1>

<p>
    <a asp-controller="Books" asp-action="Add"> Add A Book </a>
</p>

<p>
    <a asp-controller="Reading" asp-action="Add"> Start Reading Your New Book </a>
    @*****Create update action that replaces/updates the current page******@
</p>

<p>
    <a asp-controller="Books" asp-action="Delete"> Delete A Book </a>
    @* **** PARENT VIEW **** *@
</p>


@if (Model.Count == 0)
{
    <p>
        No Books on Your Shelf Yet!
    </p>
}
else
{
    <table class="table">
        <tr>
            <th>Id Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Total Page Numbers</th>
            <th>Edit</th>
        </tr>

        @foreach (var book in Model)
        {
    <tr>
        <td>@book.Id</td>
        <td>@book.BookTitle</td>
        <td>@book.AuthName</td>
        <td>@book.TotalPage</td>
    </tr>
        }
    </table>
}
