@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Hey there, kiddo!</h2>
    <h2>Welcome to</h2>
    <h1 class="display-4">One Page More!</h1>
    <p>Your place to track your reading progress!</p>
</div>

<div>
    This is the child's view of the app
</div>


@*Font ideas:  something more fun...  typewriter like with a softer (not cursive) accent font*@
@*BUTTON DESIGN Ideas:  2x2 grid with a button in each with padding and margins
    CSS button design link 
    *@


@* 
    CHILD ACCESS
    Only options to call up book from DB and then edit Pg numbers
*@
<ul>
    <li>
        <a asp-controller="Reading" asp-action="Add"> Reading Time </a>  
    </li>
</ul>

@* 
    PARENT ACCESS
    Adds book to initial DB (title, author, total pg, starting pg)    
*@
<ul>
    <li>
        <a asp-controller="Books" asp-action="AddBook"> Add A Book </a>
    </li>
</ul>


@* 
    GET - only want to see the list here.  (title author)
    BUT -- click on Title, can pull up initial Book Info (title, author, pages)
    
*@
<ul>
    <li>
        <a asp-controller="Reading" asp-action="Index"> Your Bookshelf </a>
    </li>
</ul>

@* 
    WOULD BE NICE:  PARENT
    email list of books from to whomever
    or download as PDF???  (not sure if that's a thing)
*@

<ul>
    <li>
        <a asp-controller="Email" asp-action="Index"> Share Your Shelf </a>
    </li>
</ul>